
/** 
 * Reset a few browser styles
 */
h1, h2 {
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/**
 * General Styles
 */
body{
	font-family: Arial, sans-serif;
}
p{
	line-height: 1.5;
}
header{
	padding: 24px 0;
	margin: 0 0 28px 0;
}
.logo{
	width: 300px;
	max-width:100%;
	height:auto;
}
.container{
	margin: 0 auto;
	max-width: 1024px;
}
.main-title{
	color: #667777;
	padding: 10px 0;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 2px;
}
.main-title .sub{
	color: #666;
	font-weight: 400;
}

/** 
 * Navigation
 */
.nav {
	position: absolute;
		top: 5px;
		right: 10px;
	box-shadow: 0 0 1px rgba( 255, 255, 255, 0.3);
	width: 100%;
}
.nav li{
	float: right;
	padding-right: 10px;
}
.nav li:first-child{
	padding-right: 0;
}
.nav li a:hover{
	text-decoration: overline, underline;
}
.nav a{
	text-transform: uppercase;
	font-size: 11px;
	padding-right:10px;
}

 /** Utility
 */
.fr {
    float: right;
}
.fl {
    float: left;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
 
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}